<?xml version='1.0' encoding='UTF-8'?>
<?xml-stylesheet type="text/xsl" href="psplibdocdisplay.xsl" ?>
<PSPLIBDOC>
  <PRXFILES>
    <PRXFILE>
      <PRX>flashmapper.prx</PRX>
      <PRXNAME>sceFlashMapper_driver</PRXNAME>
      <LIBRARIES>
        <LIBRARY>
          <NAME>sceFlashMapper_driver</NAME>
          <FLAGS>0x00010011</FLAGS>
          <FUNCTIONS>
            <FUNCTION>
              <NID>0xC4C33071</NID>
              <NAME>sceFlashMapper_driver_C4C33071</NAME>
              <VERSIONS>
                <VERSION>vita-0.931</VERSION>
                <VERSION>vita-0.940</VERSION>
                <VERSION>vita-0.945</VERSION>
              </VERSIONS>
            </FUNCTION>
          </FUNCTIONS>
        </LIBRARY>
        <LIBRARY>
          <NAME>syslib</NAME>
          <FLAGS>0x80000000</FLAGS>
          <FUNCTIONS/>
        </LIBRARY>
      </LIBRARIES>
    </PRXFILE>
  </PRXFILES>
</PSPLIBDOC>
